.task-list-card {
  margin: 20px;
  min-width: 400px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
  }
}

.mat-mdc-card-header {
  padding-bottom: 0;
}

.mat-mdc-card-content {
  padding-top: 10px;
}

table {
  width: 100%;
}

.spinner-container,
.error-message,
.no-tasks-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 150px;
  text-align: center;
}

.error-message p {
  color: #f44336;
  font-weight: bold;
}

.no-tasks-message {
  color: #616161;
}

.status-NEW {
  color: #2196f3;
  font-weight: bold;
}
.status-IN_PROGRESS {
  color: #27242b;
  font-weight: bold;
}
.status-COMPLETED {
  color: #4caf50;
  font-weight: bold;
}
