.full-width {
  width: 100%;
}

mat-dialog-content {
  padding: 16px 0;
}

mat-dialog-actions {
  padding-top: 16px;
}

.dialog-task-form {
  margin-top: 12px;

  mat-form-field {
    padding-bottom: 12px;
  }
}
